<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011-12 Stephen Connolly
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Tobar-Segais-WebApp</display-name>
  <description>Tobar Segais InfoCenter Container</description>

  <context-param>
    <description>The default cache-control header</description>
    <param-name>cache-control.default</param-name>
    <param-value>must-revalidate</param-value>
  </context-param>

  <context-param>
    <description>The default max age for application mime types</description>
    <param-name>cache-control.mime.application/*</param-name>
    <param-value>public, max-age=86400</param-value>
  </context-param>

  <context-param>
    <description>The default max age for audio mime types</description>
    <param-name>cache-control.mime.audio/*</param-name>
    <param-value>public, max-age=86400</param-value>
  </context-param>

  <context-param>
    <description>The default max age for image mime types</description>
    <param-name>cache-control.mime.image/*</param-name>
    <param-value>public, max-age=86400</param-value>
  </context-param>

  <context-param>
    <description>The default max age for video mime types</description>
    <param-name>cache-control.mime.video/*</param-name>
    <param-value>public, max-age=86400</param-value>
  </context-param>

  <context-param>
    <description>The default page title to be used when the page title cannot be inferred.</description>
    <param-name>default.page.title</param-name>
    <param-value>Help</param-value>
  </context-param>

  <!--<context-param>-->
    <!--<description>The domain to force this webapp to be served from.</description>-->
    <!--<param-name>default.page.path</param-name>-->
    <!--<param-value></param-value>-->
  <!--</context-param>-->

  <!--<context-param>-->
    <!--<description>The domain to force this webapp to be served from.</description>-->
    <!--<param-name>org.tobarsegais.webapp.RedirectFilter.domain</param-name>-->
    <!--<param-value></param-value>-->
  <!--</context-param>-->

  <!--<context-param>-->
    <!--<description>The status code to use when redirecting the domain</description>-->
    <!--<param-name>org.tobarsegais.webapp.RedirectFilter.status</param-name>-->
    <!--<param-value>302</param-value>-->
  <!--</context-param>-->

  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>org.tobarsegais.webapp.ServletContextListenerImpl</listener-class>
  </listener>

  <servlet>
    <servlet-name>content</servlet-name>
    <servlet-class>org.tobarsegais.webapp.ContentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>content</servlet-name>
    <url-pattern>/content/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>docs-servlet</servlet-name>
    <servlet-class>org.tobarsegais.webapp.DocsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>docs-servlet</servlet-name>
    <url-pattern>/docs/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>docs-servlet</servlet-name>
    <url-pattern>/docs</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>org.tobarsegais.webapp.RedirectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
